.details{
    background-color: white;
    width: 300px;
    position: absolute;
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    padding: 10px;
}

.logoImage {
  width: 100px;
  height: auto;
  margin: 10px auto;
  display: block;
  object-fit: contain;
}

.stars{
  color: #81D4FA;
}