.home {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
}

.headline {
  font-family: "Chewy", Times, serif;
  font-size: 2em;
  margin-bottom: 20px;
  color: #53474F;
}

.brandActionsPanel{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.brands {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  width: 100%;
  padding: 40px 0;
  align-items: stretch;
  margin-bottom: 30px;
}

.brands::-webkit-scrollbar {
  height: 8px; /*height of the scrollbar*/
}

.brands::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.brands::-webkit-scrollbar-thumb:hover {
  background: #555;
}