.home {
  text-align: center;
  padding: 20px;
}

.headline {
  font-family: "Papyrus", Times, serif;
  font-size: 2em;
  margin-bottom: 20px;
  color: #53474F;
}

.companyActionsPanel{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}