.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 100px;
}

.logo {
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    transition: transform 0.3s ease;
  }
  
  .logo:hover {
    transform: scale(1.1);
  }

  .aboutUs {
    color: #6a1b9a;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    margin-left: 1rem;
    transition: color 0.3s ease;
  }
  
  .aboutUs:hover {
    color: #4a148c;
    text-decoration: underline;
  }