.container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 100px;
  padding: 40px;
}

.logo {
  width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  transition: transform 0.3s ease;
}
  
.logo:hover {
  transform: scale(1.1);
}

.about {
  max-width: 600px;
  text-align: right;
  font-family: 'Arial', sans-serif;
  line-height: 1.8;
  color: #333;
}

.about h1 {
  font-size: 2.5rem;
  color: #4CAF50;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.about p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 10px;
}

.about p span {
  color: #263238; /* Highlighted text color */
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .logo {
    width: 80%; /* Make the logo responsive */
  }

  .about h1 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1rem;
  }
}