.error {
    color: maroon;
    margin: 2rem;
    font-size: large;
}

.pageContainer {
    display: flex;
    gap: 20px;
}

.bannerImage {
    flex-grow: 0;

    @media (max-width: 768px) {
        display: none;
    }
    
    img {
        width: 300px;
        height: 100%;
        overflow: hidden;

        object-fit: cover;
        object-position: 47%;
    }
}

.pageContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brandLogo {
    height: 170px;
    margin-top: 16px;
    margin-bottom: 44px;
    object-fit: contain;
    filter: drop-shadow(0px 4px 8px #679e84);
}

.ratingOverallText {
    color: #679e84;
    margin: 5px;
}

.ratingOverallStars span {
    color: #5c8d76;
    font-size: 30px;
    margin-bottom: 36px;
}

.table {
    align-self: stretch;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    border-radius: 8px;
    overflow: hidden;

    .tableRow {
        display: contents;
    }

    .tableHeader, .tableCell {
        background-color: #c7dada;
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tableHeader {
        font-weight: bold;
        background-color: #99c2af;
    }
}