.parent {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 500px;
  margin-inline: auto;
  margin-top: 24px;
  margin-bottom: 32px;
}

.searchIcon {
  position: absolute;
  z-index: 50;
  right: 48px;
  color: rgb(126, 188, 140);
}
